figure a img{
    width: 120px;
    height: 120px;
}


.link-ayuda-footer a{
        &:hover{
            color: grey;
}}

.red-social a{
    
         display: inline-block;
         text-decoration: none;
         width: 45px;
         height: 45px;
         line-height: 45px;
        color: rgb(0, 0, 0);
         margin-right:10px;
        background-color: rgb(255, 255, 255);
         text-align: center;

}

$redes: (
	facebook: #627cab,
	instagram:#b06891,
	youtube: #c56161,
    whatsapp: #5ec283
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
        background: white;
        &:hover {
            background: $colordered;
            .red__nombre {
                color: white;
            }
        }
    }
}