@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Montserrat:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(103, 104, 90, 0.85),rgb(53, 53, 53)),url(./../assets/img/abuelos.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav ul li{
    font-size: 20px;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    overflow: hidden;
    display:flex;
    text-transform: uppercase;
    transition: .3s;
    position: relative;
}

nav ul li a:before{
    content: '';
    position:absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #F7EDDB;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav ul li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #ffffff;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav ul li a:hover{
    color:#fff;
}

nav ul li a:hover:before{
    right: 0;
}

nav ul li a:hover:after{
    left: 0;
}

.hero__main{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

.link-ayuda-footer a:hover{
    color: grey;
}

/* .hero__main h1{
    font-size: 50px;
    width: 800px;
    text-align: center;
}

.hero__main p{
    font-size: 21px;
    display: block;
    text-align: center;
    width: 800px;
} */

.hero__main__link{
    margin-top: 20px;
}

.hero__main__link a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.botones__inicio{
    border: 2px solid white;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 10px;
    transition: all 300ms ease;
}

.botones__inicio:hover{
    border: 2px solid rgb(79, 73, 69);
    background-color: rgb(51, 49, 49);
}

figure img{
    width: 120px;
    height: 120px;
}

.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(0, 0, 0);
    margin-right:10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    transition: all 300ms ease;
}

.red-social a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 46, 46);
}

/* 
@media screen and (max-width: 700px) {

    .servicios__columnas{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .hero__header nav{
        flex-direction: column;
    }

    .servicios_titulos h3{
        font-size: 50px;
        padding: 70px 40px 40px 30px;
    }

    .hero__main h1{
        font-size: 45px;
        padding: 20px 20px 30px 20px;
    }

    .hero__main p{
        font-size: 20px;
        max-width: 500px;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 480px) {

    .servicios__columnas{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 1fr);
    }

    .hero__header nav{
        display: block;
        padding: 4px 4px;
    }

    .hero__header .logo{
        justify-content: center;
    }

    .hero__main h1{
        font-size: 35px;
        padding: 40px 20px 30px 20px;
    }

    .hero__main p{
        font-size: 18px;
        max-width: 350px;
    }

    nav ul li{
        font-size: 18px;
        margin: 2px 10px;
        padding:5px 5px;
    }
    .servicios__tarjeta{
        margin: 5px;
    }

    .piepagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 25px 0px;
    }

} */